body{
    margin: 0%;
}
nav{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: rgb(255, 255, 255);
    align-items:center;
    align-content: center;
    align-self: center;
    background-color: #ff7a7a;
    width: 100%;
    
}
/* .logo{
    

} */
.logo img{ 
    width: 5%;
}
.navdetails{
    border: none;
    border-radius: 3px;
    text-align:center;
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 30px;
}
.navdetails a{
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.navdetails button{
    
    height:1cm;
    border: none;
    border-radius:6px;
    background-color: rgb(248, 130, 61);
    color: rgb(255, 255, 255);
    font-weight: bolder;
}
.container1{
    position: relative;
    display: flex;
    flex-direction: column;
    background-image:url(images/image1.png);
    width: 100%;
    height:100vh;

}
.con1con{
    width:30vw;
    height:30vh;
    background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
    color: white;
    padding: 20px;
    }
.con1con h1{
    text-align: center;
}
.con1con p{
    text-align: center;
}
.con1button {
        margin-left: 60px;
        gap: 14px;
        height: 135px;
        width: 250px;
        display: flex;
        flex-direction: row;
    
}

 .con1button button{
    width: 100%;
        height: 23%;

    border: none;
    border-radius: 3px;
    background-color: rgb(135 0 0);
    color: rgb(255 255 255);
    display: flex;
    flex-direction: row;
    justify-content: center;
        padding: 10px;
}
.container3{
    text-align: center;
    margin-top: 400px;
    width: 100%;
     display: flex;
    flex-direction: column;
    justify-content: center;
}
.section3-1 img{
  width: 25%;  
  border: none;
  border-radius: 5px;
} 

.section3-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
    width: 100%;
} 
.section3-2{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100;
    height:15vh;
    gap: 25px;
} 
.section3-2 button{
    width: 15%;
    height: 70%;
    border: none;
    border-radius: 3px;
    background-color: rgb(133, 19, 19);
    color: rgb(255, 255, 255);
}
.container2{
    top: 590px;
    margin-top: 78px;
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    gap: 100px;
}
.container2-1{
    color: white;
    text-align: center;
    background-color: #b10b0bd6;
    width: 33vh;
    height: 40vh;
    border: none;
    border-radius: 7px;


}
.container2-1 h1{
    font-size:20px;
  font-family: system-ui;
}
.container2-1 p{
    padding: 30px;
    font-size:15px;
  
}
.container4{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.89);
    margin-top: 100px;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
}
.container4-1{
    width: 100%;
    height:50vh ;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    
}
.container4-1 img{
   height: 40vh;
    width: 18vw;
    border: none;
    border-radius: 5px;
}
.container4-2{
 width: 100%;
    height:33vh ;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}
.container4-2 img{
    height: 40vh;
    width: 18vw;
        border: none;
    border-radius: 5px;
}

.container4-3{
         width: 100%;
    height:50vh ;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.container4-3 img{
    height: 40vh;
    width: 18vw;
        border: none;
    border-radius: 5px;
}
.container5{
    text-align: center;
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    position: relative;
    text-align: center;


}
.container5video{
    
    border: 1px solid black;
    border-radius: 5px;
    width: 80vw;
    height: 60vh;
}
 .container5video video{
     width: 80vw;
    height: 60vh;
 }
 .containerp{
        background-color: #00000096;

    right: 550px;
    text-align: center;
    top:150px;
    position:absolute;
    color: aliceblue;
 }
 .container6{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
 .container6items{
    border: none;
    border-radius: 7px;
    background-color: rgb(249 247 247);
    width: 60vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
 }
.container6img{
   display: flex; 

 }
 .container6img img{
    margin-left: 30px;
    /* margin-right: 10px; */
    border: none;
    border-radius: 7px;
    width: 70%;
    height: 70%;
    margin-top: 60px;
 }
 .container6con{
    margin-top: 100px;
    color: #760b0b;
    text-align: justify;
 }
 .contactinfo{
    background-color: #dbdbd969;
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100vw;
    height:200vh;
 }
 .formsec{
    color: white;
    margin-left: 330px;
    border: none;
    border-radius: 5px;
    background-color: #760b0b;
    width:50%;
    height:50vh;


 }
 .formsec button{
    width: 15%;
    height: 70%;
    border: none;
    border-radius: 3px;
    background-color: rgb(255 255 255);
    color: rgb(112 4 4);
 }
 .mapinfo{
    margin-top: 80px;
    width:100%;
    height: 50%;

 }
 .mapinfodet{
    margin-left: 340px;
     width:50%;
    height: 50%;
 }
 .footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100vw;
    height:100vh;
    background-color: black;

 }
 .footerstart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 60vh;
 }
 .footer1{
    text-align: center;
    border-right: 1px solid white;
    
    
    color: aliceblue;
    width: 25vw;
    height:60vh ;
 }
 .footer1 h1{
    font-size: 25px;
 }
 .footer1 p{
    font-size: 15px;
 }
 .footer1 i{
    font-size: 12px;
 }
 .footericons{

    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    gap: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;
    height: 11vh;
    font-size:50px;
    border: none;
    border-radius: 15px;
    margin-left: 340px;

 }
 .instagram i{ 
    margin-top: 15px;
    color: #660808;
    font-size: 35px;
 }
 .whatsapp i{
    color: #0b7614;
    font-size: 35px;
 }
 .facebook i{
    color: #3178d4;
    font-size: 35px;
 }
 .twitter i{
    color: #000000;
    font-size:35px;
 }

