

.testing1 h1{
 font-family: kollektif;
 font-weight: 800;
}
.testing2 h1{
font-family: kollektif;
 font-weight: 600;
}
.testing3 h1{
font-family: kollektif;
 font-weight: 400;
}
.testing4 h1{
font-family: kollektif;
 font-weight: 200;
}
