body{
    margin:0%;
    
}


h1{
    font-family:kollektif ;
    font-weight: 800;
}
p{
    font-family:Ronzino-Regular;
    font-weight: 200;
    color: rgb(58, 58, 58);
}

/* --------------------------------kollektif--------------------------------------------------- */
@font-face {
    font-family:kollektif;
    src:url(font/kollektif/Kollektif-Bold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family:kollektif;
    src:url(font/kollektif/Kollektif.ttf) format('truetype');
    font-weight:400;
    font-style: normal;
}
/* -------------------------------------kollektif---------------------------------------------- */

/* ----------------------------------------Ronzino-Regular------------------------------------------------------ */

@font-face {
    font-family:Ronzino-Regular;
    src:url(font/CLT_ronzino/desktop/Ronzino-Regular.otf) format('opentype');
    font-weight:200;
    font-style: normal;
}

@font-face {
    font-family:Ronzino-Regular;
    src:url(font/CLT_ronzino/desktop/Ronzino-Medium.otf) format('opentype');
    font-weight:400;
    font-style: normal;
}

@font-face {
   font-family:Ronzino-Regular;
    src:url(font/CLT_ronzino/desktop/Ronzino-Bold.otf) format('opentype');
    font-weight:800;
    font-style: normal;
}

/* -----------------------------------Ronzino-Regular---------------------------------------------------- */


nav{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    background-color:#233D4c;
    padding-top: 15px;
    padding-bottom: 10px; 
}
.logo img{
    margin-top: 13px;
    width:10%;
    margin-left:50px;
}
.navcontent{
   
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    gap: 15px;
    margin-right:37px;

}
.navcontent button{
    font-family:Ronzino-Regular;
    font-weight: 400;
    padding: 10px;
    width:100%;
    background-color:#FD802E;    border: none;
    border-radius: 8px;
    color: white;
}
.navcontent p{
    font-family:Ronzino-Regular;
    font-weight: 400;
    text-decoration: none;
    color:#ffffff;
}

/* --------------------------------------------------------------------------------------- */

.herosection{
    background-image:url(images/hero.png);
    background-repeat: no-repeat;
    background-size:100%;
    width:96%;
    height:90vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    border-radius: 20px;
    margin: 25px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.678);
}


.herocontentt{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}
.herocontentt p{
    color: white;
}
.herocontentt h1{
    font-size: 50px;
    background-color: #fd812e44;
    padding: 20px;
    color: white;
    border-radius: 15px;
     backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Safari */
}
.new{
    display: flex;
}

.new button{ 
    font-family:Ronzino-Regular;
    font-weight: 800;
    background-color: transparent;
    border:solid 1px rgb(255, 255, 255);
    border-radius: 10px;    
    color:rgb(255, 255, 255) ;
    font-size: 20px;
    width: 200px;
    padding: 10px;
 /* ------------------------------------------------------------------------------------------------------------------------------   */
 
}
.herosub{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;  
     
}
.herosubcontent{
    height:25vh;
    padding: 30px;
    border: none;
    border-radius: 27px;
    background-color:#FD802E;
    
}
.herosub h1{
    font-size: 20px;
    
}
.hero2{
    padding-top: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
    background-color:#233D4c;
    height: 70vh;
    width:96%;
    border-radius: 20px;
    margin: 25px;
    margin-top: 100px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.678);
}

.hero2 h1{
 color: white;
}

.hero2 p{
 color: white;
}

.hero2 button{
    font-family:Ronzino-Regular;
    font-weight: 400;
    padding: 10px;
    width: 10%;
    margin-top: 40px;
    background-color:transparent; 
    border:#FD802E 1px solid;
    border-radius: 8px;
    color: #ffffff;
    font-size: 15px;
}



/* -------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------------------- */

/* background-color:#FD802E; */
/* background-color:#233D4c; */